<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/1.jpg" alt="car">
        <p>{{title}}</p>
    </div>


    {{>footer}}
</body>

</html>